<div>
  <h1>Prueba tecnica Difer</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse possimus enim
    error! Eum obcaecati quis nam quasi accusamus, asperiores debitis ullam
    nulla. Debitis non et alias neque? Distinctio, quam eum!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
    praesentium suscipit consequatur dignissimos, fuga fugiat quaerat repellat,
    obcaecati illum, expedita totam consequuntur quasi! Iste qui, molestiae
    iusto tempore a accusamus!
  </p>
  @defer (on viewport){
  <app-comments></app-comments>
  }@placeholder {
  <p>Futuros comentarios</p>
  }@loading {
  <p>Cargando...</p>
  }
</div>
